# Example Environment Variables (DO NOT ADD REAL VALUES HERE)
# Copy this file to .env for local development

# Development Environment (Local)
VITE_DEV_AUTH_USER_POOL_ID=your_dev_pool_id
VITE_DEV_AUTH_USER_POOL_CLIENT_ID=your_dev_client_id

# These will be set in Amplify Console
VITE_AMPLIFY_ENV=development|staging|prod
VITE_PD_AUTH_USER_POOL_ID=predeploy_pool_id
VITE_PD_AUTH_USER_POOL_CLIENT_ID=predeploy_client_id
VITE_MAIN_AUTH_USER_POOL_ID=main_pool_id
VITE_MAIN_AUTH_USER_POOL_CLIENT_ID=main_client_id 